.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .15s ease-in-out;
  color: var(--button-text-color);
  padding: 2px;

  &:hover,
  &:focus {
    background-color: var(--hover-button-bg-color);
    border-color: var(--hover-border-color);
    color: var(--hover-button-text-color);

    svg,
    span {
      color: var(--hover-button-text-color);
    }
  }
}