.formButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioInputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  font-size: inherit;
}

.radio {
  min-width: 128px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: all .15s ease-in-out;
  background-color: var(--input-bg-color);

  &:hover,
  &:focus {
    border-color: var(--hover-border-color);
  }
}

.radio input {
  display: none;
}

.name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: .5rem 0;
  color: var(--text-color);
  transition: all .15s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--hover-bg-color);
  }

}

.radio:has(input:checked) {
  border-color: var(--hover-border-color);
  background-color: var(--hover-bg-color);
}