.tableContainer {
  border: 1px solid var(--table-border-color);
  border-radius: 4px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-bottom: 70px;
  border-bottom: none;
}

.table {
  min-width: 900px;
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  background-color: var(--table-bg-color);
  border-bottom: none;
}

.th {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  padding: 12px;
  text-align: center;
  font-weight: 600;
  background-color: var(--table-header-bg-color);
  color: var(--text-color);
}

.th:nth-child(5) {
  width: 25%;
  text-align: center;
}

.th:last-child {
  border-right: none;
}