.tableContainer {
  border: 1px solid #3a7190;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 70px;
  border-bottom: none
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  background-color: #f0f4f9;
  border-bottom: none;
}

.th {
  border-bottom: 1px solid #3a7190;
  border-right: 1px solid #3a7190;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  background-color: #eef4f8;
  color: var(--text-color);
}

.th:nth-child(5) {
  width: 25%;
  text-align: center;
}

.th:last-child {
  border-right: none;
}