.tableContainer {
  border: 1px solid #3a7190;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 120px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  background-color: #f0f4f9;
}

.th,
.taskText {
  border-bottom: 1px solid #3a7190;
  border-right: 1px solid #3a7190;
  padding: 12px;
  text-align: center;
}

.th {
  font-weight: 600;
  background-color: #eef4f8;
  color: var(--text-color);
}

.taskText {
  background-color: #fff;
  position: relative;
}

.itemButtonOptions {
  padding: 2px;
  position: absolute;
  bottom: 2px;
  right: 6px;
}

.itemOptions {
  font-size: 16px;
}

.table tr:last-child .taskText {
  border-bottom: none;
}

.table .taskText:last-child,
.table th:last-child {
  border-right: none;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 25%;
}

.tableContainer .table .taskItem {
  cursor: pointer;
  background-color: #fff;

  &:hover,
  &:focus {
    td {
      background-color: #f3faff;
    }
  }
}

.contextMenu {
  position: absolute;
  background-color: #f3faff;
  border: 1px solid #3a7190;
  border-radius: 4px;
  padding: 4px;
  z-index: 100;
  display: flex;
  gap: 8px;
  right: -60px;
  bottom: 0;
  font-size: 16px;
}