.filterWrapper {
  position: fixed;
  top: 4px;
  right: 0;
  bottom: 4px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: var(--modal-wrapper-bg);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(-100%);
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.filterWindow {
  padding: 20px;
  padding-top: 60px;
  position: relative;
  height: auto;
  max-width: 270px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--modal-window-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.cancelButton {
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    .cancelIcon {
      color: var(--hover-cancel-icon-color);
    }
  }
}

.cancelIcon {
  color: var(--cancel-icon-color);
  font-size: 24px;
  transition: all 0.15s ease-in-out;
}

.title {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: all .15s ease-in-out;
  background-color: var(--input-bg-color);
  margin-bottom: 8px;


  padding: .5rem 0;
  color: var(--text-color);
  transition: all .15s ease-in-out;
}

.formButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterButtonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterMobileButton {
  min-width: 120px;
  height: 46px;
}

.dateContainer {
  max-width: 270px;
  width: 100%;
}