.formButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textInput {
  border: 1px solid #a3adb5;
  border-radius: 4px;
  width: 100%;
  max-width: 230px;
  padding: 8px;
  transition: all .15s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    border-color: #3a7190;
  }
}

.acceptButton {
  padding: 2px;
}

.acceptIcon {
  color: #fff;
  font-size: 20px;
}