.datePickerContainer {
  position: relative;
  width: 100%;
  max-width: 150px;
}

.dateInput {
  min-width: 120px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: all .15s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--hover-border-color);
  }
}

.dayPickerWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: var(--calendar-bg-color);
}

.customDayPicker {
  font-family: inherit;
  padding: 10px;
}

:global(.rdp-selected .rdp-day_buttonrdp-day_button) {
  border: 2px solid #2D3F50;
}

:global(.rdp-chevron) {
  fill: #2D3F50 !important;
}

:global(.rdp-nav_button:hover .rdp-chevron) {
  fill: #2D3F50 !important;
}

:global(.rdp-day) {
  border-radius: 4px !important;
}

:global(.rdp-selected .rdp-day_button) {
  border-radius: 4px !important;
  border: 2px solid #c5d8e3 !important;
  color: #3a7190 !important;
}

:global(.rdp-day_selected) {
  background-color: #c5d8e3 !important;
  color: white !important;
}

:global(.rdp-day_selected:hover) {
  background-color: #c5d8e3 !important;
}

:global(.rdp-day:hover:not(.rdp-day_selected)) {
  background-color: #c5d8e3 !important;
  cursor: pointer;
}

:global(.rdp-nav_button) {
  color: #2D3F50 !important;
}

:global(.rdp-nav_button:hover) {
  background-color: #f0f7f2 !important;
  color: #2D3F50 !important;
}

:global(.rdp-button:focus:not([disabled])) {
  background-color: #e6f0e9 !important;
}

:global(.rdp-head_cell) {
  font-weight: 600;
  color: #333;
}

:global(.rdp-caption) {
  margin-bottom: 8px;
}

:global(.rdp-day_today) {
  border: 1px solid #2D3F50 !important;
  color: #2D3F50 !important;
}

:global(.rdp-caption_label) {
  color: #2D3F50 !important;
  font-weight: 600;
}

:global(.rdp) {
  --rdp-accent-color: #2D3F50 !important;
}