.header {
  margin-top: 70px;
  margin-bottom: 100px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.taskButton,
.deleteButton {
  min-width: 146px;
  padding: 14px;
}

.taskButton:disabled {
  background-color: var(--hover-disabled-bg-color);

  &:hover,
  &:focus {
    border: 1px solid transparent;
    color: var(--button-text-color);
    cursor: not-allowed;
  }
}

.analitycsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .15s ease-in-out;
  color: var(--button-text-color);
  min-width: 146px;
  padding: 14px;

  &:hover,
  &:focus {
    background-color: var(--hover-button-bg-color);
    border-color: var(--hover-border-color);
    color: var(--text-color);
  }
}