.formButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dateForm {
  display: flex;
  background-color: #fff;
  max-width: 312px;
  width: 100%;
  gap: 8px;
  font-size: inherit;
}

.dateInputField {
  width: 100%;
}

.acceptButton {
  padding: 2px;
}

.acceptIcon {
  color: #fff;
  font-size: 20px;
}