.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 100%;
  max-width: 210px;
  height: 46px;
  padding: 12px;
}