.setTimerModalWindow {
  padding: 40px;
}

.timerInput {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  max-width: 440px;
  background-color: var(--input-bg-color);
  padding: 12px;
  margin-bottom: 6px;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--hover-border-color);
  }

  margin-bottom: 20px;
}

.timerButton {
  display: block;
  min-width: 210px;
  height: 54px;
}