.errorMessageWindow {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 260px;
  height: auto;
  padding: 12px;
  background-color: #C87D7D;
  box-shadow: 0 0 4px 0 rgba(58, 113, 144, 0.25);
  border-radius: 4px;
  transform: translateX(120%);
  transition: all 0.3s ease-in-out;
  z-index: 2000;
}

.visible {
  transform: translateX(0%);
}

.errorDescription {
  font-size: 16px;
  color: aliceblue;
  line-height: 1.5;
  max-width: 200px;
  margin: 0 auto;
}