.tableContainer {
  border: 1px solid var(--table-border-color);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 120px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  background-color: var(--table-bg-color);
}

.th {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  padding: 12px;
  text-align: center;
  font-weight: 600;
  background-color: var(--table-header-bg-color);
  color: var(--text-color);
}

.taskText {
  padding: 4px;
  text-align: center;
  border-right: 1px solid var(--table-border-color);
  background-color: var(--item-bg-color);
  height: 50px;
  font-weight: 600;
}

.taskText {
  label {
    span {
      font-weight: 400;
    }
  }
}

.taskText:last-child {
  border-right: none;
}

.taskItem .second {
  border-right: 1px solid var(--table-border-color);
}


.table tr:last-child .taskText {
  border-bottom: none;
}

.table,
.table th:last-child {
  border-right: none;
}