@import url(./reset.css);
@import url(./modern-normalize.css);


:root {
  --font-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --text-color: #2D3F50;

  --hover-border-color: #3a7190;
  --hover-bg-color: #f0f4f9;
  --hover-cancel-icon-color: #fff;
  --hover-button-bg-color: #f3faff;
  --hover-button-text-color: #2D3F50;

  --border-color: #a3adb5;
  --button-bg-color: #3a7190;
  --button-text-color: #fff;
  --cancel-icon-color: #2d3f50;
  --input-bg-color: #fff;
  --error-color: #df5a6e;
  --form-bg-color: #fff;
  --icon-color: #fff;
  --calendar-bg-color: #fff;

  --modal-wrapper-bg: rgba(255, 249, 249, 0.5);
  --modal-window-bg: #c5d8e3;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  font-size: 14px;
}

.empty {
  text-align: center;
  font-weight: 600;
  font-size: 24px;

  margin-bottom: 80px;
  color: #c5d8e3;
}