.backToTopButton {
  position: fixed;
  z-index: 1000;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.15s ease-in-out;
}

.backToTopButton.visible {
  opacity: 1;
  transform: translateY(0);
}

.backToTopIcon {
  font-size: 30px;
}